body{
    margin: 0;
    font-size: 50px;
}
header{
    width: 100vw;
    height: 30vh;
    background-color: #c09d9d;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 100vw;
    height: 70vh;
    display: flex;
}
.big{
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
section{
    width: 100%;
    height: 50%;
    background-color: #7193af;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    width: 33%;
    height: 50%;
    background-color: #213d64;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
    width: 33%;
    height: 50%;
    background-color: #3a6421;
    display: flex;
    justify-content: center;
    align-items: center;
}
.write{
    width: 33%;
    height: 50%;
    background-color: #d9bc46;
    display: flex;
    justify-content: center;
    align-items: center;
}
article{
    width: 30%;
    height: 100%;
    background-color: #b72828;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 200px) and (max-width: 500px) {
    header {
        height: 15vh;
    }
    main{
        flex-wrap: wrap;
    }
    .big{
        width: 100vw;
    }
    article{
        width: 100vw;
        height: 15vh;
    }
}